Flow 2.json
[{"id":"32253323.a40fdc","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"1916d7b0.db4488","type":"inject","z":"32253323.a40fdc","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":140,"wires":[["fcbea8d8.3143c8"]]},{"id":"fcbea8d8.3143c8","type":"function","z":"32253323.a40fdc","name":"Payload","func":"msg.headers={\n    deviceKey: \"BQyFyQPuK4SqHGTs\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["88c1f310.e3cf2"]]},{"id":"88c1f310.e3cf2","type":"http request","z":"32253323.a40fdc","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DkUovauk/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":610,"y":260,"wires":[["d2354022.99b1d","70fb114.4e5a6f"]]},{"id":"d2354022.99b1d","type":"http response","z":"32253323.a40fdc","name":"","statusCode":"","headers":{},"x":870,"y":260,"wires":[]},{"id":"70fb114.4e5a6f","type":"debug","z":"32253323.a40fdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":380,"wires":[]}]