Flow 1.json
[{"id":"898b8465.ae4b68","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"cdbbb67e.f60f38","type":"rpi-gpio in","z":"898b8465.ae4b68","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":170,"y":700,"wires":[["c4f1588a.0bd308","d0c5272a.87aef8"]]},{"id":"c4f1588a.0bd308","type":"debug","z":"898b8465.ae4b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":560,"wires":[]},{"id":"9a2e410f.6f921","type":"rpi-gpio out","z":"898b8465.ae4b68","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":870,"y":780,"wires":[]},{"id":"d0c5272a.87aef8","type":"switch","z":"898b8465.ae4b68","name":"if input is1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":780,"wires":[["f341ad9e.c1bf1"],["feee7f15.2c7fd"]]},{"id":"f341ad9e.c1bf1","type":"change","z":"898b8465.ae4b68","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":780,"wires":[["9a2e410f.6f921"]]},{"id":"feee7f15.2c7fd","type":"change","z":"898b8465.ae4b68","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":860,"wires":[[]]}]