Flow 3.json
[{"id":"327aae61.d80322","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b3862ef6.e69ed","type":"inject","z":"327aae61.d80322","name":"time","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":220,"wires":[["5a15916f.be905"]]},{"id":"5a15916f.be905","type":"function","z":"327aae61.d80322","name":"Payload","func":"msg.headers={\n    deviceKey: \"BQyFyQPuK4SqHGTs\"\n    };\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["46712319.7f0b0c"]]},{"id":"46712319.7f0b0c","type":"http request","z":"327aae61.d80322","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DkUovauk/datapoints.csv","tls":"","proxy":"","authType":"","x":490,"y":220,"wires":[["c63abfa7.88c15","5ac1e7b5.2c8b48"]]},{"id":"c63abfa7.88c15","type":"http response","z":"327aae61.d80322","name":"","statusCode":"","headers":{},"x":750,"y":220,"wires":[]},{"id":"5ac1e7b5.2c8b48","type":"debug","z":"327aae61.d80322","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":320,"wires":[]}]